@font-face {
    font-family: configround;
    src: local('Config Rounded Medium'), local('Config-Rounded-Medium'),
        url('ConfigRoundedMedium.woff2') format('woff2'),
        url('ConfigRoundedMedium.woff') format('woff'),
        url('ConfigRoundedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


.immanuel-h1 {
    font-family: configround;
    color: rgb(193, 192, 190);
    text-align: center;
    font-size: 17vw;
    margin-top: 3vw;
    text-shadow: 0px 6px 4px #0000007a;
}

.immanuel-h2 {
    font-family: configround;
    color: rgb(193, 192, 190);
    text-align: center;
    font-size: 12vw;
    margin-top: 0vw;
    text-shadow: 0px 6px 4px #0000007a;
}
.dcon-h1 {
    font-family: configround;
    color: rgb(193, 192, 190);
    text-align: center;
    font-size: 17vw;
    margin-top: 3vw;
    text-shadow: 0px 6px 4px #0000007a;
}

.dcon-h2 {
    font-family: configround;
    color: rgb(193, 192, 190);
    text-align: center;
    font-size: 12vw;
    margin-top: 0vw;
    text-shadow: 0px 6px 4px #0000007a;
}
.dcon-h1-alt {
    font-family: configround;
    color: #0093e9;
    text-align: center;
    font-size: 17vw;
    margin-top: 3vw;
    text-shadow: 0px 6px 4px #0000007a;
}

.dcon-h2-alt {
    font-family: configround;
    color: #0093e9;
    text-align: center;
    font-size: 12vw;
    margin-top: 0vw;
    text-shadow: 0px 6px 4px #0000007a;
}

.alp-h2 {
    font-size: 6vw;
    font-family: configround;
    color: rgb(193, 192, 190);
    text-align: center;
    margin-top: 0vw;
    text-shadow: 0px 6px 4px #0000007a;
}
.organizer {
    display: flex;
    flex-direction: row;
}
.organizer-3dcon {
    display: flex;
    flex-direction: column;
}
.paragraph {
    background: rgb(18 17 25 / 57%);
    color: rgb(215,215,217);
    text-indent: 4vw;
    font-family: 'Titillium Web', sans-serif;
    padding: 3vw;
    font-size: 2vw;
    text-align: justify;
    margin: 0;
}

body {
    overflow: hidden;
    background: #102131;  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}
#myDiv {
    pointer-events: none;
    
}
ul {
    list-style-type: none;
}
#container {
    background-color: #0e0f117c;
  position: fixed;
  width: 200px;
  height: 200px;
  margin: auto;
  transform: rotate(45deg);
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
}


body {
    display: flex;
    flex-direction: column;
    background: url('https://soroush-mz.w3spaces.com/body-bg.png?bypass-cache=1631814787');
    margin:0

}

.body-immanuel {
    background: url('https://soroush-mz.w3spaces.com/immanuel.jpg?bypass-cache=1631814787');
    background-size: 100vw;
}
.body-eccehomo {
    background: url('https://soroush-mz.w3spaces.com/eccehomo.jpg?bypass-cache=1631814787');
    background-size: 100vw;
}
.body-3dcon {
    background: url('https://soroush-mz.w3spaces.com/3dcon.jpg?bypass-cache=1631814787');
    background-size: 100vw;
}
.body-alp {
    background: url('https://soroush-mz.w3spaces.com/alp.jpg?bypass-cache=1631814787');
    background-size: 100vw;
}
.navbar {
    box-shadow: 0rem 0.1rem 0.5rem rgb(0 0 0 / 60%);
    padding: 0 !important;
    background-color: #0e0f11 !important;
}

.navbar-toggler {
    padding: 0 1vh 0 1vh;
    margin: 1vh;
}

.bi-caret-down-fill {
    border: none;
    fill: rgba(255,255,255,.5) !important;
    width: 2vw !important;
}
.nav-link.dport {
    color: #fff !important  ;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-options:hover:not(.dactive) {
    background-color: #0e0f119c;
    color: white;
}

.dactive {
    background-color: #333333;
    color: white !important;
}

.page-container {
    padding-bottom: 10vh;
}
.content-wrap {
    padding-bottom: 2.5rem;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin: 8vh 2vh 8vh 2vh;
}
.my-image {
    width:25vw;
    border: solid;
    border-radius: 3vh 3vh 1vh 1vh;
    padding: 2vh 0vh 0vh 0vh;
    background-color: #faebd7;
    align-self: center;
}
.about-box {
    background-color: #faebd79e;
    width: 100%;
    margin-left: 6vh;
    border-radius: 2vh;
}

.about-text {
    margin: 1vh;
    text-align: justify;
    -webkit-text-emphasis-style: dot;
}
.port-main:hover {
    text-decoration: none;
}
.portfolio-gallery {
    width: -webkit-fill-available;
}
.gallery-title {
    margin: 2vw 2vw 1vw 2vw;
}
.line-svg {
    height: 1vh;
}
.line {
    stroke: #212529;
    stroke-width: 5;
}
.portfolio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faebd79e;
    margin: 1vw;
    border-radius: 1vw;
    padding-bottom: 2vh;
}
.portfolio-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.portfolio-gallery-cell {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-image {
   width: 43vw;
   border-radius: 1vw 1vw 0 0;
}
.portfolio-image:hover {
    opacity: 80%;
}
.portfolio-cell-title {
    background-color: #181a1e82;
    text-align: center;
    width: 100%;
    border-radius: 0 0 .5vw .5vw;
}

.cell-title {
    color: rgba(255,255,255,.75);
    margin: 1vw;
}
.footer {
    background-color: #181a1e82;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 1vh;
    padding-bottom: 0;
}
.out-links {
    color: rgba(255,255,255,.5);
}
.out-links:hover {
    text-decoration: none   ;
}
.bi{
    margin: 1vw;
    border: solid;
    height: 5vh;
    width: 5vh;
    padding: .7vh;
    border-radius: 1.5vh;
    border-width: .1rem;
}
.bi:hover {
    border: none;
}
.bi-linkedin:hover{
    background-color: white;
    color: rgb(14, 118, 168);
    padding: 0;

}
.bi-instagram:hover {
    color: white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.bi-envelope-fill:hover {
    color: white;
    background-color: rgb(14, 118, 168);;
}
.icon-holder {
    display: contents;
}
.cc-holder {
    float: right;
}
.cc {
    text-align: center;
    padding-top: 2vh;
    font-size: .65rem;
    color: rgba(255,255,255,.5)
}

.video-player {
    padding: 3vw;    
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
        margin: 4vh 2vh 4vh 2vh;

    }
    .about-box {
        margin-left: 0;
        margin-top: 3vh;
    }
    .about-text {
        font-size: 3vw;
    }
    .my-name {
        font-size: 4vw;
    }
    .my-image {
        width: 50vw;
    }
    .portfolio-box {
        margin: 2vw;
    }
    .portfolio-row {
        flex-direction: column;
    }
    
    .portfolio-image {
        height: auto;
        width: 83vw;
    }
    .dropdown .nav-portfolio-drop {
        pointer-events: none;
        
    }
    .dropdown-content {
        position: inherit;
        min-width: 100vw;
        box-shadow: inset 0px 1px 5px #000;
    }
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	