.code-block {
    margin: 5vw;
}

.code-block.single-code-block {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.code-block-header {
    margin: 0vw 5vw -5vw 5vw;
    padding-left: 1vw;
}

.repo-container {
    display: flex;
    flex-direction: column;
}

.repo-image {
    width: 50%;
    align-self: center;
}

.repo-external-button {
    width: 10%;
    margin-left: 1vw;
}

.mono {
    background-color: rgb(52, 57, 65);
    padding: 0.2vw;
    font-family: monospace;
}

.CodeMirror {
    min-height: fit-content;
    max-height: 300px !important;
}