.code-block {
    margin: 5vw;
}

.code-block-header {
    margin: 0vw 5vw -5vw 5vw;
    padding-left: 1vw;
}

.repo-container {
    display: flex;
    flex-direction: column;
}

.repo-image {
    width: 50%;
    align-self: center;
}