/* LOADER ANIMATION */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/* GENERALS */
body {
    background: url(../img/site/blueprintue-bg.jpg) #2F4B57;
    background-size: cover;
    font-family: sans-serif;
}
.light {
    background: #FFF;
    color: #232323;
}
.wide { width: 100%; }
.dark { background: #FAFAFA; }
.black { background: #232323; }
.blue { background: #2B99B3; }
.textarea-fix-resize { resize: vertical; }
.paddingtop20 { padding-top: 20px; }
.marginbottom20 { margin-bottom: 20px; }
.nomargintop { margin-top: 0px; }
.paddingbottom20 { padding-bottom: 20px; }
.ttc-danger {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    background-color: #F2DEDE;
    border: 1px solid #000;
    padding: 5px;
}
/* NAV BAR */
.navbar-blueprint {
    background-color: #246271;
    border: 0;
    margin-bottom: 0;
}
.navbar-blueprint .navbar-brand {
    color: #FFF;
    font-weight: bold;
}
.navbar-blueprint ul.navbar-nav li a { color: #FAFAFA; }
.navbar-search button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    left: -35px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #2F4B57;
}
.navbar-inverse .navbar-nav>li>a.btn-sign-up:focus,
.navbar-inverse .navbar-nav>li>a.btn-sign-up:hover {
    background-color: #5BC0DE;
    border-color: #46B8DA;
}
/* ADD PASTEBIN */
.add-pastebin {
    padding: 30px 0px;
    color: #FFF;
}
.add-pastebin .block {
    padding: 20px;
    color: #232323;
    background: #FFF;
    border: 1px solid #EEE;
}
.add-pastebin legend {
    font-size: 30px;
}
.add-pastebin textarea.form-control {
    display: block;
    max-width: 100%;
    min-height: 227px;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    color: #FFF;
    background-color: #3C3C3C;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.add-pastebin div.submit-pastebin { margin-bottom: 0; }
/* FOOTER */
.footer-greedy-games {
    padding: 15px 0;
    background-color:#2B99B3;
    color: #FFF;
}
.footer-greedy-games p { margin:0; }
.footer-greedy-games a,
.footer-greedy-games a:hover,
.footer-greedy-games a:active,
.footer-greedy-games a:visited {
    color: #FFF;
    font-weight: bold;
}
.footer-greedy-games p { margin:0; }
/* BLUEPRINT */
.action-buttons { padding-top: 15px; }
.score-vote { padding-top: 5px; }
.vote-up.voted { background-color: #9ACD32; }
.vote-down.voted { background-color: #FF3535; }
.comment-permalink { line-height: 19px; }
.separate { height:20px; }
.stopoverflow { overflow: hidden; }
.blueprint-versions {
    list-style: none;
    padding-left: 0px;
}
.blueprint-versions li {
    padding: 10px;
    margin: 1px;
    border:1px solid #CCC;
}
.blueprint-versions li p { margin-bottom: 0; }
.add-comment-visitor,
.comments-closed {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    background-color: #ECECEC;
    border: 1px solid #000;
    padding: 5px;
}
/* LOGIN */
.sso-btns {
    padding-left: 0;
    margin: 0;
}
.sso-btns > li a,
.sso-btns > li a:hover {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 25px;
}
.sso-btns a:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -35px;
    margin-top: -5px;
}
.sso-btns .btn {
    text-align: left;
    margin-bottom: 3px;
}
.sso-btns .btn-facebook { background-color: #4267B2; }
.sso-btns .btn-facebook a:before { background: transparent url(../img/fb-icon.png) 50% 50% no-repeat; background-size: 20px;}
.sso-btns .btn-twitter { background-color: #37A7DF; }
.sso-btns .btn-twitter a:before { background: transparent url(../img/site/sso/twitter.png) 50% 50% no-repeat; }
.sso-btns .btn-google { background-color: #D6492F; }
.sso-btns .btn-google a:before { background: transparent url(../img/site/sso/gplus.png) 50% 50% no-repeat; }
.choose-title-or { font-size: 50px; }
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.fix-sso-btns { margin-top: -21px; }
.fix-sso-btns-sign-up { margin-top: -52px; }
/* PROFILE */
.networks ul { padding-left: 0; }
.networks ul li {
    display: inline-block;
    padding-bottom: 4px;
}
/* SEARCH */
.search-parameters {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ECECEC;
    background-color: #EFEEFE;
}
.search-parameters ul.tagit {
    margin-left: initial;
    margin-right: initial;
}
/* MEDIA QUERY */
/** NAV BAR **/
@media (max-width: 768px){
    .navbar-nav.navbar-right {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media (max-width: 550px)  {
    .navbar-search .input-search {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-search .button-search {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 22px;
        margin-top: -27px;
        left: inherit;
    }
    .navbar-search .input-search { width: 100%; }
}
@media (min-width: 550px)  {
    .navbar-header { float: left; }
    .navbar-toggle { display: none; }
    .navbar-collapse {
        display: block!important;
        border-top: 0px none;
        box-shadow: none;
    }
    .navbar-collapse.collapse { display: block!important; }
    .navbar-form.navbar-left, .navbar-nav.navbar-left { float: left!important; }
    .navbar-nav.navbar-left, .navbar-nav.navbar-left>li { float: left!important; }
    .navbar-nav.navbar-right, .navbar-nav.navbar-right>li { float: right!important; }
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        box-shadow: none;
    }
    .navbar-search .button-search {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        position: relative;
        left: -35px;
    }
    .navbar-search .input-search {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
/** ADD BLUEPRINT **/
@media (min-width: 768px) {
    .add-pastebin .form-inline .form-group { margin-bottom: 15px; }
}
/** LOGIN **/
@media (max-width: 767px) {
    .sso-btns > li {
        height: 34px;
        padding-left: 0;
        padding-right: 0;
    }
    .sso-btns > li a,
    .sso-btns > li a:hover {
        margin-left: 35px;
        padding-left: 0;
        height: 34px;
        float: left;
        width: 100%;
    }
    .sso-btns a:before { text-align: center; }
}
@media (max-width: 520px) {
    .sso-btns a>span { display:none; }
}
/** PROFILE **/
@media (max-width:560px) {
    .media-body.networks {
        display: block;
        width: 100%;
    }
}
@media (max-width:420px) {
    .profile-stats.btn-group.btn-group-lg>.btn {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }
    .profile-stats.btn-group>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .profile-stats.btn-group.btn-group-lg>.btn:not(:first-child) {
        margin-top:-1px;
    }
}